<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - Todo App</title>
  <link rel="stylesheet" href="/css/auth.css">
  <link rel="stylesheet" href="/css/flashmsg.css">
</head>
<body>
  <div class="container">
    <header class="header">
      <h1 class="title">Create Your Account</h1>
      <p class="subtitle">Sign up to start organizing your tasks efficiently.</p>
    </header>

    <main class="main-content">
      <% if (message && message.length > 0) { %>
        <div class="alert error-alert view-alert">
          <p><%= message %></p>
        </div>
      <% } %>
      <form action="/auth/signup" method="POST" class="register-form">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required>
        </div>
        <button type="submit" class="submit-btn">Sign Up</button>
      </form>

      <div class="auth-links">
        <a href="/auth/login" class="link login-link">Already have an account? <strong>Log in</strong></a>
      </div>
    </main>
  </div>
   <script src="/js/dashboard.js"></script>

</body>
</html>
